.question-board {
    width: -webkit-fill-available;
    border-radius: 4px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .option-container {
        display: flex;
        flex-wrap: wrap;

        .option {
            width: 50%;
        }
    }

    .bottom-bar {
        width: 100%;
        .prev {
            float: left;
            margin: 16px 32px;
        }
    
        .next {
            float: right;
            margin: 16px 32px;
        }
    }
}