.side-bar {

    width: 15%;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    text-align: left;
    color: brown;
    flex-direction: column;
    justify-content: center;
    
    .option, .not-chosen {
        margin: 12px;
        cursor: pointer;
    }

    .empty-option {

    }
}